* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    --main-color: rgb(19, 154, 19);
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background: #fff;
    padding: 30px;
  }
  .container h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
  }
  input {
    padding: 20px;
    height: 50px;
    width: 400px;
    font-size: 20px;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button {
    font-size: 15px;
    margin-top: 40px;
    width: 155px;
    height: 50px;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
  }